# Dependencies
node_modules

# Production build
dist
dist-ssr

# Environment / local
*.local
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
